$body_bg: #f5f5f5;
$content_bg: #ffffff;
$body_color: #3a404c;
$primary_color: #ff9124;
$primary_weak_color: #fff4dc;
$attention_color: #ff2a2a;
$success_color: #66a754;

$main_font_color: #757575;
$heavy_font_color: #000000;
$focus_font_color: #7a0f25;
$focus_weak_font_color: #666666;
$second_font_color: #5a6074;
$third_font_color: #888888;
$fourth_font_color: #99a3b1;
$weak_font_color: #999999;
$label_font_color: #adadad;
$win_font_color: #e02020;

$off_bg: #707070;
$label_bg: #f5f8fa;
$card_bg: #f7f7f7;
$card_focus_bg: #f6f9fc;
$key_bg: rgba(216, 216, 216, 0);
$toast_bg: rgba(0, 0, 0, 0.7);

$border_color: #f8f8f8;
$border_primary_color: $primary_color;
$border_input_color: #ffb001;
$border_icon_color: #bcbcbe;

$skeleton_linear_bg: linear-gradient(
  90deg,
  #f0f0f0 25%,
  #dedede 37%,
  #f0f0f0 63%
);
